# Byte compiled files
__pycache__/

# Translation files
*.mo
*.pot

# Repository related folders
output/*
*.pid

# Ignore mac files
.DS_Store

# Ignore vs code folder
.vscode

# Ignore python versions
.python-version
